.full {
  width: 100%;
}

footer {
  background: #333;
  color: #fff;
  height: 40px;
  margin-top: 40px;
  padding-top: 10px;
  text-align: center;
}

.products-row {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}